<div id="uiDialogModal" class="modal">
<div class="ui-dialog-card">
<div class="ui-dialog-head" id="uiDialogTitle">Hinweis</div>
<div class="ui-dialog-body">
<p id="uiDialogMessage" class="ui-dialog-msg">-</p>
<div id="uiDialogInputWrap" class="mt-4 hidden">
<input id="uiDialogInput" type="text" class="input" autocomplete="off">
</div>
<div class="flex justify-end gap-3 mt-6">
<button type="button" id="uiDialogCancel" class="btn btn-secondary">Abbrechen</button>
<button type="button" id="uiDialogOk" class="btn btn-primary">OK</button>
</div>
</div>
</div>
</div>
